/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Roboto:wght@100&display=swap'); */

.backgroundDiv {
    border-bottom:white 1.5px solid;
    border-top:white 1.5px solid;
    border-radius: 5px;
    margin-top:125%;
    left:5%;
    overflow:auto;
    position:relative;
    display:block;
    background-color:rgb(0, 0, 0);
    opacity:0.85;
}
.textDiv{
    margin-top:5%; 
    margin-left:1.5%; 
    margin-right:1.5%; 
    margin-bottom:5%;
    /* font-family: Merriweather Sans; */
}

 a{
    font-family: Merriweather Sans;
} 
iframe,p,img,audio,video{
    margin-top: 5%;
}

.pQuote{
    margin-left: 5%;
    margin-right: 7.5%;
}
/* h1,label{
    font-family: Merriweather Sans, Roboto;
} */